*{
    margin:0;
    padding: 0;

}
a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}
body{ /*设置背景*/
    background: grey url(./img/wall.jpg) no-repeat center center;


}



@font-face { /*引用字体*/
    font-family: keyboard;
    src: url('./font/keyboard.otf') format('opentype');
}

.wrapper{

    display: inline-block;
}

main{
    text-align: center;
    display: flex; justify-content: center; align-items: center; height: 100vh;
}

#contain{
    width:100vw;


}
li > button{

    width:2em;
    height:1.2em;
    position: absolute;
    right: 0;
    bottom: 0;
    border:1px solid white;
    border-radius: 1px;
    box-sizing: border-box;
    display: none;
}

li:hover >#E,li:hover >#Q,li:hover >#W,li:hover >#R,li:hover >#T
,li:hover >#Y,li:hover >#U,li:hover >#I,li:hover >#O,li:hover >#P,
li:hover >#A,li:hover >#S,li:hover >#D,li:hover >#F,li:hover >#G,li:hover >#H,
li:hover >#J,li:hover >#K,li:hover >#L,li:hover >#Z,li:hover >#X,li:hover >#C,
li:hover >#V,li:hover >#B,li:hover >#N,li:hover >#M
{

    display: inline-block;
}
li:hover >#Digit1,li:hover >#Digit2,li:hover >#Digit3,li:hover >#Digit4,li:hover >#Digit5,li:hover >#Digit6,
li:hover >#Digit7,li:hover >#Digit8,li:hover >#Digit9,li:hover >#Digit0{
    display: inline-block;
}

.kbb{ /*键盘样式*/
    display: inline-block;
    position: relative;
    width:47px;
    height:69px;
    color:white;
   /* line-height: 69px;*/
    padding: 0 12px;
   /* background: linear-gradient(to bottom, #111111 0%,#292929 100%);
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;*/
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #000;
   /* border: 1px solid #373737; color: #C5C5C5;*/
    border-radius: 8px;
     cursor: pointer;
    margin: 0 12px 12px 0;
}


.row{
  /*  margin: 0 6px 6px 0;*/

}
.row:after{
    content: ' ';
    display: block;
    clear: both;
}

.row:nth-child(5){


}


.kbb >.text{  /*文本*/

    position: absolute;  top: 26px;
    font-size: 24px;
    left:30px;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;


}


.kbb >.text2{
    position: absolute;
    top: 3px;
    font-size: 24px;
    left:30px;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    word-warp:break-word;
    word-break:break-all;
}

.kbb img{width: 16px; height: 16px; position: absolute; left: 4px; bottom: 2px;}

.head {

    display: flex;
    justify-content: center;
    align-items: center;

}



#ALT{
    width:70px;
    height:69px;
}

#delete{
    width:96px;
    height:69px;
}

#tab{
    width:96px;
    height:69px;
}

#copsLock{
    width:114px;
}

#return{
    width:112px;
}

#shift{
    width:154px;
}

#commandKey{
    width:71px;

}
#command{
    width:71px;

}

#commandKey >.text{
    left:10px;
}

#command >.text {

}#command >.text2{

 }
#control>.text,#commandKey >.text,#commandKey >.text2,#command >.text ,#command >.text2
{
    font-size: 14px;
}
#control>.text{
    left:15px;
}
#return >.text2{
    font-size: 16px;
}
#Space{
    width:379px;
}

#Comma >.text{
    left:34px;
}
#Period >.text{
    left:34px;
}
#Backquote >.text{
    top:32px;
    left:34px;
}
#Quote >.text{
    top:36px;
    left:34px;
}
#Quote >.text2{
    top:10px;
    left:34px;
}
#BracketLeft >.text,#BracketRight >.text{
    left:34px;
    top:40px;
}
#BracketLeft >.text2,#BracketRight >.text2{
    top:10px;
    left:34px;
}
#Slash >.text{
    top:36px;
}
#Slash >.text2{
    top:6px;
}
#Backslash >.text{
    top:36px;
}
#Backslash >.text2{
    top:10px;
}
#Semicolon >.text{
    left:34px;
}
#Semicolon >.text2{
    left:34px;
}
#right,#up,#down,#left{

   width:25px;
    heigth:50px;

}

#right  >.text,#up  >.text,#down  >.text,#left >.text{
    font-size: 20px;
    top:24px;
    left: 20px;


}

#up{
   /* margin: 0 83px 3px;
    border-radius: 8px 8px 0px 0px;
    */

}
#down {
   /* border-radius: 0 0 8px 8px;*/
}

